* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style: none;
}

:root {
    --orange: #ff9b51;
    --black: #000;
    --white: #fff;
    --gray: #eee;
    --lite-gray: rgba(0, 0, 0, .35);
    scroll-behavior: smooth;
}

.container {
    max-width: 1400px;
    width: 80%;
    padding-block: 20px;
    margin: auto;
}

/* ====================
        Header
==================== */

.header {
    background-color: var(--black);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    height: 30px;
}

.header .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 25px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.header .menu-icon span {
    width: 100%;
    height: 4px;
    background: var(--white);
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header .menu-icon span:nth-child(2) {
    width: 80%;
}

.header .menu-icon.active span:nth-child(1) {
    transform: rotate(-45deg);
    transform-origin: right;
}

.header .menu-icon.active span:nth-child(2) {
    transform: translateX(200%);
    opacity: 0;
    pointer-events: none;
}

.header .menu-icon.active span:nth-child(3) {
    transform: rotate(45deg);
    transform-origin: right;
}

.header .navbar a {
    margin-left: 80px;
    color: var(--white);
    font-weight: 500;
    transition: .5s;
}

.header .navbar a.active,
.header .navbar a:hover {
    color: var(--orange);
}

/* ====================
        Home
==================== */

.home {
    position: relative;
    color: var(--white);
}

.home .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85dvh;
    padding-block: 100px;
    gap: 50px;
    /* flex-wrap: wrap; */
    overflow: hidden;
}

.home .home-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-content {
    width: 60%;
    max-width: 500px;
}

.home-content h1 {
    font-size: 35px;
    margin-top: 20px;
}

.home-content .line {
    margin-block: 20px;
    height: 3px;
    width: 70px;
    border-radius: 50px;
    background-color: var(--white);
}

.home-content p {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 35px;
    color: var(--white);
    opacity: .75;
}

.btn {
    padding: 12px 32px;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    color: var(--black);
    background-color: var(--white);
}

.home .signup {
    width: 350px;
    max-height: 375px;
    background-color: var(--white);
    margin-left: auto;
}

.home form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home h2,
.home form .submit {
    padding: 15px 50px;
    width: 100%;
    text-align: center;
}

.home h2 {
    background-color: rgba(0, 0, 0, .1);
    color: var(--black);
    width: 100%;
    font-size: 20px;
}

.home h2 span {
    color: var(--orange);
}

.home input {
    width: 100%;
    padding-inline: 60px;
}

.home form .submit {
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    transition: .5s ease;
}

.home form .submit:hover {
    filter: grayscale(.2);
}

/* ====================
        Brand Bar
==================== */

.brand-bar {
    width: 100%;
    height: fit-content;
    background-color: var(--white);
    color: var(--black);
    left: 0;
    bottom: 0;
}

.brand-bar .container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.brand-bar .brand-info {
    max-width: 450px;
}

.brand-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: var(--lite-gray);
}

.brand-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.brand-icons a {
    font-size: 40px;
    opacity: .35;
    color: var(--black);
    transition: .5s;
}

.brand-icons a:hover {
    opacity: 1;
}

/* ====================
Feature One
==================== */

.feature.gray {
    background-color: var(--gray);
}

.feature {
    padding-block: 100px;
}

.features .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.container.feature-one {
    justify-content: center;
}

.feature-one .tabs-box {
    position: relative;
    background: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.tabs-box .tab {
    width: 100px;
    height: 100px;
    max-width: 30vw;
    max-height: 30vw;
    background-color: var(--black);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--white);
}

.tabs-box .indicator {
    position: absolute;
    width: 100px;
    height: 100px;
    max-width: 30vw;
    max-height: 30vw;
    background-color: var(--orange);
    transform: translateY(0);
    top: 0;
    transition: .5s ease;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.tabs-box.one .indicator {
    transform: translateY(0);
}

.tabs-box.two .indicator {
    transform: translateY(calc(100% + 1px));
}

.tabs-box.three .indicator {
    transform: translateY(calc(200% + 2px));
}

.tabs-info {
    max-width: 600px;
    margin-right: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.tabs-info p {
    margin-block: 20px;
    position: relative;
}

.tabs-info p span {
    color: var(--orange);
    position: absolute;
    right: 0;
    bottom: -30px;
    font-size: 30px;
    font-weight: bold;
}

.btn.alt {
    background-color: var(--orange);
    color: var(--white);
    border-radius: 4px;
    border-color: var(--orange);
}

.btn.alt:hover {
    background-color: var(--white);
    color: var(--orange);
}

.tabs-info .btn {
    margin-top: 10px;
    display: inline-block;
}

.tabs-image {
    margin-left: auto;
}

/* ====================
    Feature Two
==================== */

.feature-two .sublist-info {
    max-width: 500px;
}

.title:not(.first) {
    position: relative;
    margin-bottom: 50px;
}

.title:not(.first)::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    width: 80px;
    height: 2px;
    background-color: var(--orange);
}

.sublist-info .sublist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
}

.sublist i {
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: var(--orange);
    width: 50px;
    font-size: 20px;
    border: 2px solid var(--orange);
    border-radius: 50%;
}

.sublist .info h4 {
    margin-bottom: 4px;
    font-size: 18px;
}

/* ====================
    Feature Three
==================== */

.container.feature-three {
    align-items: flex-start;
}

.picture-info p {
    margin-top: 30px;
    max-width: 500px;
}


/* ====================
        Process
==================== */

.about .container {
    text-align: center;
    padding-block: 100px;
}

.title.center {
    margin-bottom: 40px;
}

.title.center::after {
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
}

.about .process {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.process .step {
    max-width: 300px;
}

.process .icon i {
    height: 50px;
    width: 50px;
    font-size: 20px;
    color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.process h4 {
    margin-block: 20px;
    font-size: 18px;
}


/* ====================
        Pricing
==================== */

section.gray {
    background-color: var(--gray);
}

.pricing {
    padding-block: 100px;
}

.pricing .container {
    text-align: center;
}

.pricing .plans-box {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.plans-box .plan {
    width: 100%;
    max-width: 300px;
    color: var(--white);
    background-color: rgba(0, 0, 0, .85);
}

.plan h4 {
    padding-block: 15px;
    border-bottom: 1px solid var(--gray);
    font-size: 18px;
}

.plan .price {
    font-weight: bold;
    padding-top: 5px;
    font-size: 28px;
    letter-spacing: 2px;
    height: 80px;
}

.plan span {
    font-size: 50px;
    display: inline-block;
}

.plan:nth-child(2) span:nth-child(2) {
    font-size: 60px;
    transform: translateY(7px);
}

.plan:nth-child(1) span {
    font-size: 50px;
    transform: translateY(5px);
}

.plan:nth-child(3) span:nth-child(1) {
    font-size: 60px;
    transform: translateY(8px);
}

.plan p {
    color: var(--white);
    margin-bottom: 15px;
    opacity: .7;
    font-size: 14px;
}

.plan .note {
    background-color: var(--orange);
    padding-block: 3px;
}

.plan:nth-child(2) .note {
    padding-block: 10px;
}

.plan .properties {
    background-color: var(--white);
    color: #aaa;
    text-transform: uppercase;
}

.plan .properties li {
    padding-block: 10px;
}

.plan .properties li:not(:last-child) {
    border-bottom: .1px solid currentColor;
}

/* ====================
    Testimonials
==================== */

.testimonials {
    padding-block: 100px;
}

.testimonials .container {
    text-align: center;
}

.testimonials .testimonials-box {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.testimonials .comment {
    max-width: 280px;
    text-align: start;
}

.testimonials .comment p {
    position: relative;
    padding: 20px 10px;
    margin-bottom: 25px;
    background-color: var(--gray);
    border-radius: 4px;
}

.testimonials .comment p::before {
    content: "";
    border-style: solid;
    border-width: 15px 10px;
    border-color: var(--gray) transparent transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    left: 25px;
}

.testimonials .comment .profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testimonials .profile h4 {
    font-size: 22px;
}

.testimonials .profile span {
    color: var(--lite-gray);
    margin-top: 5px;
}

/* ====================
    Custom Section
==================== */

.custom {
    padding-block: 60px;
    text-align: center;
    color: var(--white);
    position: relative;
}

.custom .background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
    filter: brightness(.4);
    z-index: -100;
}

.custom .title::after {
    background-color: var(--white);
}

.custom p {
    margin-bottom: 50px;
    color: #bbb;
}


/* ====================
    Contact Section
==================== */

.contact {
    text-align: center;
    padding-block: 100px;
}

.contact p {
    margin-bottom: 50px;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.contact textarea,
.contact input:not(.btn) {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    transition: .5s;
}

.contact textarea:focus,
.contact input:not(.btn):focus {
    border-color: var(--black);
    color: var(--black);
}

.mail {
    grid-row: 2;
}

.contact textarea {
    resize: none;
    grid-row: 1/4;
}

.contact .btn {
    width: fit-content;
    margin: auto;
    grid-column: 1/3;
}

/* ====================
        Footer
==================== */

.footer {
    background-color: var(--black);
    text-align: center;
    padding-bottom: 20px 5px;
}

.footer .brand-icons {
    display: inline-flex;
    gap: 20px;
}

.footer a {
    color: var(--white);
    opacity: .8;
    font-size: 20px;
    margin: 0;
}

.footer p {
    color: var(--white);
    margin-top: 15px;
}

.footer p:last-child {
    font-weight: bold;
}

.footer p span {
    color: var(--orange);
}

/* ====================
        Keyfarams
==================== */

/* mid screens */
@media (width < 991px) {
    .header .navbar a {
        margin-left: 40px;
    }

    .brand-bar .container {
        flex-direction: column;
        text-align: center;
    }

    .brand-icons a {
        margin: 0;
    }

    .feature .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .feature-one .tabs-box {
        flex-direction: row;
    }

    .title:not(.first) {
        text-align: center;
        margin-bottom: 40px;
    }

    .title:not(.first)::after {
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
    }

    .tabs-box.one .indicator {
        transform: translateX(calc(-100% - 1px));
    }

    .tabs-box.two .indicator {
        transform: translateX(0);
    }

    .tabs-box.three .indicator {
        transform: translateX(calc(100% + 1px));
    }

    .tabs-image {
        margin: auto;
    }

    .tabs-info .btn {
        margin-top: 60px;
    }

    .tabs-info p span {
        left: 50%;
        transform: translateX(-50%);
        bottom: -40px;
    }

    .sublist-info .sublist {
        text-align: start;
    }

    .plans-box .plan:nth-child(2) {
        order: 3;
    }
}

/* small screens */
@media (width < 768px) {
    img {
        max-width: 100%;
    }

    .plans-box .plan:nth-child(3) {
        order: 3;
    }

    .header .navbar {
        transform: translateX(500%);
        position: absolute;
        top: 100%;
        background-color: var(--black);
        width: 60%;
        height: 100dvh;
        padding-top: 30px;
        min-width: 200px;
        right: 0;
        display: flex;
        flex-direction: column;
        transition: .5s;
    }

    .header .navbar .background{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        right: 100%;
        top: 0;
    }

    .header .navbar a {
        padding: 10px 30px;
        width: 100%;
        margin: 0;
    }

    .header .navbar a.active {
        color: var(--white);
    }

    .header .navbar a:hover {
        padding-left: 40px;
    }

    .navbar a:not(:last-child) {
        border-bottom: .1px solid var(--white);
    }

    .header .menu-icon {
        display: flex;
    }

    .header .menu-icon.active+.navbar {
        transform: translateX(0);
    }

    .home .container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .home-content {
        width: 100%;
    }

    .home .signup {
        margin: 0;
    }

    .home-content .line {
        margin-inline: auto;
    }

    .pricing .plans-box {
        gap: 50px;
    }

    .contact form {
        display: flex;
        flex-direction: column;
    }

    .contact form textarea {
        height: 20ch;
    }
}